# Eclipse stuff
.classpath
.project
.settings/

# various other potential build files
bin/
.idea/
/.classpath
/.project
/.settings/
/target/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
